@import "tailwindcss";

@theme {
  --color-foreground: #171717;
  --color-background: var(--background);
  --color-bg-opaque: var(--bg-opaque);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);

  --color-text: var(--text);
  --color-brand: #fc8c03;
}



:root {
  --background: rgb(17, 17, 17);
  --bg-opaque: rgb(17, 17, 17, 0.25);
  --background-light: rgb(35, 35, 35);
  --background-dark: rgb(8, 8, 8);
  --text: rgb(235, 236, 243);
  --brand: #fc8c03;
}

:root.light {
  --background: rgb(248, 250, 252);
  --bg-opaque: rgb(248, 250, 252, 0.5);
  --background-light: rgb(255, 255, 255);
  --background-dark: rgb(226, 232, 240);
  --text: rgb(30, 41, 59);
  --brand: #fc8c03;
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  @apply m-0 p-0;
}

*::selection {
  @apply text-background bg-brand;
}

.sidebar::-webkit-scrollbar {
  @apply hidden;
}


.highlight {
  background: linear-gradient(120deg, #84fab0 0%, #fc8c03 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "poppins", sans-serif;
}

body {
  @apply text-text bg-background;
}

.section-wrapper {
  @apply relative z-10 max-w-[1150px] m-auto py-18 px-6 md:p-24 overflow-hidden;
}


.chip {
  @apply bg-background-light py-0.5 px-2 rounded-[999px];
}

.sidebar{
  @apply h-screen sticky top-0 right-0 z-20 flex flex-col items-center overflow-y-scroll;

  a {
    @apply h-[100px] shrink-0 text-lg font-[200] flex items-center hover:bg-background hover:border-l-brand hover:opacity-100
    justify-center opacity-[0.5] border-l-2 w-full border-l-transparent transition-all duration-100 [writing-mode:vertical-lr];

    &.selected {
  @apply cursor-pointer opacity-100 bg-background border-l-2 border-l-brand;
  }
}
}

.logo{
  @apply w-11 h-11 bg-background rounded-sm cursor-pointer shrink-0 text-2xl font-black flex items-center justify-center my-5;
}

.logo span{
  @apply text-brand;
}



/* Hero section css */
.hero {
  @apply md:mt-14 mb-4 px-5 md:py-10 md:px-7 mt-4 md:mb-12;
}

.copyWrapper {
  @apply relative z-18 w-fit my-12;
}

h1.title {
  @apply text-5xl md:text-8xl font-[900] md:leading-[1.1];

  span {
    @apply: text-brand;
  }
}

.subTitle {
  @apply text-4xl font-extralight mt-4 leading-[1.1];

  span {
    @apply font-[900] text-brand;
  }
}

.aboutCopy {
  @apply my-6 max-w-[700px] font-extralight text-lg;
}

.heroGrid {
  @apply flex md:flex-nowrap flex-col items-start flex-wrap gap-6 md:gap-12 mt-12;
  }

.imageShadow {
  @apply absolute top-1/10 left-1/10 right-1/10 bottom-1/10 z-1 blur-lg bg-[rgba(0,0,0,0.2)];
}

/* about styles */
.about {
  @apply grid grid-cols-[1fr] md:grid-cols-[1fr_300px] gap-6;
}

.aboutText {
  @apply mb-6 font-extralight;
}

.links {
  @apply flex items-center gap-4;
}

.linksText {
  @apply flex items-center gap-2 text-lg text-brand;
}

.highlightFirstLetter:first-letter {
  @apply p-5 bg-background-light rounded text-4xl font-bold float-left mr-[6px];
}


.sectionHeader {
  @apply flex items-center gap-6 mb-6;
}

.title {
  @apply text-4xl md:text-5xl font-[900] text-end;

  span {
    @apply text-brand;
  }
}

.line {
  @apply w-full h-px bg-text opacity-30;
}

/* stats styles */
.statColumn {
  h4 {
    @apply flex items-center font-[600] mb-6;
   
    span {
      @apply text-2xl font-[900] relative ml-2;
    }
  }
}

.statGrid {
  @apply flex flex-wrap gap-3 mb-12;
}

/* Link styles */
.links {
  @apply flex gap-4;

  a {
    @apply opacity-50 relative z-20 hover:text-brand hover:opacity-100 transition-all duration-100;
  }
}

/* Heading */

.heading {
  @apply px-6 md:px-9 flex items-center justify-between sticky top-0 z-20 font-bold text-xl backdrop-blur-md;
  height: calc(45px + 36px);
}

.outlineButton {
  @apply outline-0 border-1 border-brand bg-transparent text-brand text-[0px] sm:text-base rounded-sm relative z-20
  overflow-hidden cursor-pointer p-1 sm:py-2.5 sm:px-5  items-center justify-center hover:border-text hover:text-text transition-all duration-200 ;

    svg {
      @apply block sm:hidden h-[18px] w-[18px];
    }
  }

/* Contact Style */


.contactEmail {
  @apply flex items-center justify-center gap-2 w-fit m-auto py-3 px-8 rounded-lg bg-background-light hover:text-brand transition-all duration-250 ease-in;
}











